{% extends "base.html" %}
{% block main %}

<p>
    <h1>我们的口号是 -- 没有蛀牙！</h1>

</p>
<h2>Change list (2015-07-17)</h2><hr>
<ul>
    <li>1. 测试结果显示uuid，有链接指向同次结果集</li>
    <li>2. 批量结果查看问题，失败时是否结束错误，运行时间获取错误</li>
    <li>3. 执行测试失败时获取运行时间有异常</li>
    <li>4. log日志提示增强</li>
    <li>5. 测试包请求参数路径优化</li>
    <li>6. 任务列表查看页，支持清空操作</li>
    <li>7. devices页只有无效设备时抛异常</li>
    <li>8. sim状态检测错误</li>
    <li>9. 分辨率设备过滤</li>
</ul>
<h2>Change list</h2><hr>
<ul>
    <li>1. 兼容windows开发环境</li>
    <li>2. 添加用例集功能</li>
    <li>3. 添加重跑功能</li>
    <li>4. 修复多线程bug</li>
    <li>5. 优化程序安装/卸载逻辑</li>
    <li>6. 优化prepare逻辑</li>
    <li>7. 支持设备执行指定用例次数后重启</li>
    <li>8. UI界面优化</li>
    <li>9. 部分代码异常处理</li>
    <li>10. 支持测试结果日志分析</li>
    <li>11. Mysql断链重连</li>
</ul>

{% end %}